/* Imports */

/* Variables */

/* Overall */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000719;
}


/* Typography */ 
h1 {
color: rgb(236, 236, 236);
font-size: 45px;
}

h2 {
font-size: 32px;
}

h3 {
font-size: 24px;
}

h4 {

}

h5 {

}

p {

}

a {
color: aqua;
}

/* Logo */
#logo {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 32px;
}

/* hero text */

#heroText {
    position: absolute;
    margin-top: 40vh;
    margin: 
}
/* Nav */
#nav {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 80px;
  }

  #nav li{
    Display: inline-block;
    font: 'Open Sans', sans-serif;
    font-size: 24px;
    color:rgb(236, 236, 236);
    margin-inline: 40px;
  }

  #nav li:hover {
    color:rgb(149, 41, 41);
    border-bottom: 3px solid rgb(149, 41, 41);
    transition-duration: 1.0s;
    transform: scale(1.15);
    cursor: pointer;
    
  }
  /* Page Layout */
  .section {
    min-height: 100vh;
    top: 60px;
    color: aliceblue;
  }

#About {
    background-image: url("../images/bio-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
  .casestudy {
    background-color:aquamarine;
    height: 200px;
    width: 100%;
    margin-bottom: 20px
  }